.card {
    @include flexClass;
    align-items: center;
    width: clamp(21.5rem, 90%, 22rem);
    min-height: 9.56rem;
    height: max-content;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0.3125rem 0.4375rem 0.625rem $cc-shadow;

    &__img {
        width: 4.6875rem;
        height: 4.6875rem;
        margin-right: 1rem;
        border-radius: 100%;
        background: $cc-primary-66;
    }

    &__title {
        font-weight: $fw-reg;
        font-size: 1.7rem;
    }
}
