@import "config";
@import "buttons";
@import "icons";
@import "nav";
@import "cards";

// Overlay is for navigation and forms
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: $cc-shadow;
    visibility: hidden;
    opacity: 0;

    &.open {
        visibility: visible;
        opacity: 1;
    }
}

main {
    @include flexCenter;
    width: 100%;
    flex-direction: column;
    margin-top: 5rem;
    padding-top: 3rem;
}